/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';
// @use 'highlight.js/styles/github.css';
@use 'highlight.js/styles/github.css';
@use "../../angular-toaster/src/toaster";


pre {
    --bd-pre-bg: #f8f9fa;
    position: relative;
    padding: .75rem 1.5rem;
    background-color: var(--bd-pre-bg);

    .hljs {
        font-size: 0.875rem;
        color: #212529;
        background-color: transparent !important;
        padding: 0;
        margin: 0;
        border-radius: 0;
    }
}
